/* Template: Aria Business Website Bootstrap HTML Template
   Author: Inovatik
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

- General Styles
- Navigation
- Header
- Intro
- Description
- Services
- Details 1
- Details 2
- Testimonials
- Registration
- Projects
- Project Lightboxes
- Team
- About
- Contact
- Footer
- Copyright
- Back To Top Button 
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds, navbar - dark blue #153e52
- Backgrounds - light gray #fbfbfb
- Buttons, icons - green #14bf98
- Headings text - navy blue #484a46
- Body text - dark gray #787976
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #787976; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
	font-display: swap;
}

h1 {
	color: #484a46;
	font: 700 2.5rem/3rem "Montserrat", sans-serif;
}

h2 {
	color: #484a46;
	font: 700 2rem/2.5rem "Montserrat", sans-serif;
}

h3 {
	color: #484a46;
	font: 700 1.75rem/2.25rem "Montserrat", sans-serif;
}

h4 {
	color: #484a46;
	font: 700 1.5rem/2rem "Montserrat", sans-serif;
}

h5 {
	color: #484a46;
	font: 700 1.25rem/1.625rem "Montserrat", sans-serif;
}

h6 {
	color: #484a46;
	font: 700 1rem/1.375rem "Montserrat", sans-serif;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font: 700 1rem/1.5rem "Montserrat", sans-serif;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #787976;
	text-decoration: underline;
}

a:hover {
	color: #787976;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.green {
	color: #14bf98;
}

.bg-gray {
	background-color: #fbfbfb;
}

.section-title {
	color: #14bf98;
	font: 700 0.8125rem/1.125rem "Montserrat", sans-serif;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #14bf98;
	border-radius: 2px;
	background-color: #14bf98;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #14bf98; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.75rem 1.625rem 2.75rem;
	border: 1px solid #14bf98;
	border-radius: 2px;
	background-color: #14bf98;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #14bf98; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #484a46;
	border-radius: 2px;
	background-color: transparent;
	color: #484a46;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #484a46;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.75rem 1.625rem 2.75rem;
	border: 1px solid #484a46;
	border-radius: 2px;
	background-color: transparent;
	color: #484a46;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #484a46;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #484a46;
	border-radius: 2px;
	background-color: transparent;
	color: #484a46;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #484a46;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.label-control {
	position: absolute;
	top: 0.875rem;
	left: 1.5rem;
	color: #7d838a;
	opacity: 1;
	font-size: 0.875rem;
	line-height: 1.5rem;
	cursor: text;
	transition: all 0.2s ease;
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	color: #787976;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.125rem;
	padding-bottom: 0.125rem;
	padding-left: 1.5rem;
	border: 1px solid #d0d5e2;
	border-radius: 2px;
	background-color: #ffffff;
	color: #787976;
	font-size: 0.875rem;
	line-height: 1.875rem;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.25rem;
	color: #7d838a;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 11rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.5rem;
	padding-left: 1.375rem;
	border-radius: 2px;
	border: 1px solid #d0d5e2;
	background-color: #ffffff;
	color: #787976;
	font-size: 0.875rem;
	line-height: 1.5rem;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #14bf98;
	border-radius: 2px;
	background-color: #14bf98;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	background-color: transparent;
	color: #14bf98;
}

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */

/* Fade Animation For Image Lightbox And Morphtext - Magnific Popup  */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image lightbox and morphtext - magnific popup */


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #153e52;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
}

.navbar .container {
	max-width: 1500px;
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 113px;
	height: 32px;
}

.navbar .logo-text {
	color: #ffffff;
	font-weight: 400;
	font-size: 2rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #153e52;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #d9eaf3;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #14bf98;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: #153e52;
}

.navbar .dropdown-item {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #d9eaf3;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #153e52;
	color: #14bf98;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #2d5b72;
}
/* end of dropdown menu */

.navbar .fa-stack {
	width: 2em;
	margin-right: 0.25rem;
	font-size: 0.75rem;
}

.navbar .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack-1x {
	color: #14bf98;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
	color: #14bf98;
}

.navbar .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/*****************/
/*    Header     */
/*****************/
.header {
	position: relative;
	padding-top: 7.5rem;
	padding-bottom: 7.5rem;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/lawn.webp') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.header .h1-large {
	color: #ffffff;
}

.header .p-large {
	margin-bottom: 2.125rem;
	color: #ffffff;
}


/*****************/
/*     Intro     */
/*****************/
.basic-1 {
	padding-top: 7.75rem;
	padding-bottom: 4rem;
}

.basic-1 .text-container {
	margin-bottom: 3.5rem;
}

.basic-1 .section-title {
	margin-bottom: 0.5rem;
}

.basic-1 h2 {
	margin-bottom: 1.375rem;
}

.basic-1 .testimonial-author {
	color: #484a46;
}

/* Hover Animation */
.basic-1 .image-container {
	overflow: hidden;
	border-radius: 4px;
}

.basic-1 .image-container img {
	margin: 0;
	border-radius: 4px;
	transition: all 0.3s;
}

.basic-1 .image-container:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */


/***********************/
/*     Description     */
/***********************/
.cards-1 {
	padding-top: 4rem;
	padding-bottom: 4rem;
	text-align: center;
}

.cards-1 .card {
	margin-bottom: 3rem;
	border: none;
	text-align: left;
}

.cards-1 .fa-stack {
	width: 6rem;
	height: 6rem;
	margin-bottom: 1rem;
	line-height: 6rem;
}

.cards-1 .fa-stack .hexagon {
	position: absolute;
	width: 6rem;
	height: 6rem;
	background: url('../images/hexagon-green.svg') center center no-repeat;
	background-size: 6rem 6rem;
}

.cards-1 .fa-stack-1x {
	color: #ffffff;
	font-size: 2rem;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	margin-bottom: 0.625rem;
}


/********************/
/*     Services     */
/********************/
.cards-2 {
	padding-top: 8rem;
	padding-bottom: 3.75rem;
	text-align: center;
}

.cards-2 .section-title {
	margin-bottom: 0.5rem;
}

.cards-2 .h2-heading {
	margin-bottom: 3.5rem;
}

.cards-2 .card {
	margin-bottom: 6rem;
	border: none;
	background-color: #ffffff;
}

/* Hover Animation */
.cards-2 .card-image {
	overflow: hidden;
	margin-bottom: 2.25rem;
}

.cards-2 .card-image img {
	margin: 0;
	transition: all 0.3s;
}

.cards-2 .card-image:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.cards-2 .card-body {
	padding: 0 1.5rem 3rem 1.5rem;
}

.cards-2 .card-body p {
	text-align: left;
}

.cards-2 .list-unstyled {
	margin-bottom: 1.75rem;
	text-align: left;
}

.cards-2 .list-unstyled .fas {
	color: #14bf98;
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.cards-2 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.cards-2 .card-body .price {
	color: #484a46;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.625rem;
}

.cards-2 .card-body .price span {
	color: #14bf98;
}

.cards-2 .button-wrapper {
	position: absolute;
	right: 0;
	bottom: -1.5rem;
	left: 0;
}

.cards-2 .btn-solid-reg:hover {
	background-color: #ffffff;
}


/*********************/
/*     Details 1     */
/*********************/
.accordion .area-1 {
	height: 440px;
	background: url('../images/details-1-background.jpg') center center no-repeat;
	background-size: cover;
}

.accordion .accordion-container {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 7.75rem;
	padding-bottom: 3rem;
}

.accordion h2 {
	margin-bottom: 2rem;
}

.accordion .item {
	margin-bottom: 2rem;
}

.accordion h4 {
	margin-bottom: 0;
}

.accordion span[aria-expanded="true"] .circle-numbering,
.accordion span[aria-expanded="false"] .circle-numbering {
	display: inline-block;
	width: 2.25rem;
	height: 2.25rem;
	margin-right: 0.875rem;
	border: 0.125rem solid #14bf98;
	border-radius: 50%;
	background-color: #14bf98;
	color: #ffffff;
	font: 700 1rem/2.25rem "Montserrat", sans-serif;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease;
}

.accordion span[aria-expanded="false"] .circle-numbering {
	border: 1px solid #484a46;
	background-color: transparent;
	color: #484a46;
}

.accordion .item:hover span[aria-expanded="false"] .circle-numbering {
	border: 1px solid #14bf98;
	color: #14bf98;
}

.accordion .accordion-title {
	display: inline-block;
	width: 70%;
	margin-top: 0.125rem;
	margin-bottom: 0.25rem;
	color: #484a46;
	font: 700 1.25rem/1.75rem "Montserrat", sans-serif;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease;
}

.accordion .item:hover .accordion-title {
	color: #14bf98;
}

.accordion span[aria-expanded="true"] .accordion-title {
	color: #14bf98;
}

.accordion .accordion-body {
	margin-left: 3.125rem;
}


/*********************/
/*     Details 2     */
/*********************/
.tabs .tabs-container {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 3.25rem;
	padding-bottom: 7.5rem;
}

.tabs .nav-tabs {
	justify-content: center;
	margin-bottom: 1.125rem;
	border-bottom: none;
}

.tabs .nav-link {
	margin-right: 1.625rem;
	margin-bottom: 0.875rem;
	padding: 0;
	border: none;
	border-radius: 2px;
	color: #c1cace;
	font: 700 1.375rem/1.375rem "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.tabs .nav-link:hover,
.tabs .nav-link.active {
	color: #14bf98;
}

.tabs .nav-link .fas {
	margin-right: 0.125rem;
	font-size: 0.875rem;
	vertical-align: 20%;
}

.tabs #tab-1 .progress-container {
	margin-top: 1.5rem;
}

.tabs #tab-1 .progress-container .title {
	margin-bottom: 0.25rem;
	color: #484a46;
	font: 600 0.875rem/1.25rem "Open Sans", sans-serif;
	font-display: swap;
}

.tabs #tab-1 .progress {
	height: 22px;
	margin-bottom: 1.125rem;
	border-radius: 0.125rem;
	background-color: #f9fafc;
}

.tabs #tab-1 .progress-bar {
	display: block;
	padding-left: 1.5rem;
	background: linear-gradient(to bottom right, #14bf98, #1bd1a7);
}

.tabs #tab-1 .progress-bar.first {
	width: 100%;
}

.tabs #tab-1 .progress-bar.second {
	width: 75%;
}

.tabs #tab-1 .progress-bar.third {
	width: 90%;
}

.tabs #tab-2 .list-unstyled {
	margin-top: 1.75rem;
	margin-bottom: 0;
	vertical-align: top;
}

.tabs #tab-2 .list-unstyled .media {
	margin-bottom: 2rem;
}

.tabs #tab-2 .list-unstyled .media-bullet {
	color: #14bf98;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2rem;
}

.tabs #tab-2 .list-unstyled .media-body {
	margin-left: 0.875rem;
}

.tabs #tab-3 .list-unstyled .fas {
	color: #14bf98;
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.tabs #tab-3 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.tabs #tab-3 .list-unstyled {
	margin-bottom: 1.75rem;
}

.tabs .area-2 {
	height: 432px;
	background: url('../images/details-2-background.jpg') center center no-repeat;
	background-size: cover;
}


/************************/
/*     Testimonials     */
/************************/
.slider-1 {
	padding-top: 8rem;
	padding-bottom: 8rem;
	text-align: center;
}

.slider-1 .h2-heading {
	margin-bottom: 3.5rem;
}

.slider-1 .slider-container {
	position: relative;
}

.slider-1 .swiper-container {
	position: static;
	width: 88%;
	text-align: center;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23484a46'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .swiper-button-next {
	right: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23484a46'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .card {
	position: relative;
	border: none;
	background-color: transparent;
}

.slider-1 .card-image {
	width: 96px;
	height: 96px;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	border-radius: 50%;
}

.slider-1 .card-body {
	padding: 0;
}

.slider-1 .testimonial-author {
	margin-bottom: 0;
	color: #484a46;
}


/************************/
/*     Registration     */
/************************/
.form-1 {
	padding-top: 8rem;	
	padding-bottom: 7rem;	
	background-color: #153e52;
}

.form-1 .text-container {
	margin-bottom: 4rem;
}

.form-1 .section-title {
	margin-bottom: 0.5rem;
}

.form-1 h2,
.form-1 p,
.form-1 .list-unstyled,
.form-1 .checkbox,
.form-1 .checkbox a {
	color: #ffffff;
}

.form-1 h2 {
	margin-bottom: 1.375rem;
}

.form-1 .list-unstyled .fas {
	color: #14bf98;
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.form-1 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.form-1 .label-control {
	color: #e9ecf1;
}

.form-1 .form-control-input:focus + .label-control,
.form-1 .form-control-input.notEmpty + .label-control {
	color: #ffffff;
}

.form-1 .form-control-input,
.form-1 .form-control-select {
	border: 1px solid #39728f;
	background-color: #2a5d77;
}

.form-1 .form-control-input {
	color: #ffffff;
}

.form-1 .form-control-select {
	color: #e9ecf1;
}

.form-1 .form-control-textarea {
	border: 1px solid #39728f;
	background-color: #2a5d77;
	color: #ffffff;
}

.form-1 .form-control-input:focus,
.form-1 .form-control-input:hover,
.form-1 .form-control-select:focus,
.form-1 .form-control-select:hover,
.form-1 .form-control-textarea:focus,
.form-1 .form-control-textarea:hover {
	border: 1px solid #ffffff;
}


/********************/
/*     Projects     */
/********************/
.filter {
	padding-top: 8rem;
	padding-bottom: 8.25rem;
	text-align: center;
}

.filter .section-title {
	margin-bottom: 0.5rem;
}

.filter .p-heading {
	margin-bottom: 3.5rem;
}

.filter .button-group a {
	display: inline-block;
	margin-right: 0.1875rem;
	margin-bottom: 0.5rem;
	margin-left: 0.1875rem;
	padding: 0.3125rem 1.375rem 0.25rem 1.375rem;
	border-radius: 2px;
	background-color: #f1f4f7;
	color: #7b7e85;
	font: 700 0.75rem/1.25rem "Montserrat", sans-serif;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.2s ease;
}

.filter .button-group a:hover {
	background-color: #14bf98;
	color: #ffffff;
}

.filter .button-group a.button.is-checked {
	background-color: #14bf98;
	color: #ffffff;
}

.filter .grid {
	margin-top: 1.25rem;
}

/* Hover Animation */
.filter .element-item {
	position: relative;
	float: left;
	overflow: hidden;
	width: 50%;
	background-color: #000; /* to hide 1px white margin in IE */
}

.filter .element-item img {
	max-width: 100%;
	margin: 0;
	transition: all 0.3s;
}

.filter .element-item:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.filter .element-item .element-item-overlay { 
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	text-align: center;
	transition: all 0.3s;
}

.filter .element-item .element-item-overlay span { 
	position: absolute;
	z-index: 3;
	top: 42%;
	right: 0;
	left: 0;
	color: #ffffff;
	font: 700 1.125rem/1.625rem "Montserrat", sans-serif;
}


/******************************/
/*     Project Lightboxes     */
/******************************/
.lightbox-basic {
	position: relative;
	max-width: 1000px;
	margin: 2.5rem auto;
	padding: 3rem 1rem;
	background-color: #ffffff;
	text-align: left;
}

.lightbox-basic .image-container {
	margin-bottom: 2rem;
	text-align: center;
}

.lightbox-basic .image-container img {
	border-radius: 4px;
}

.lightbox-basic h3 {
	margin-bottom: 0.5rem;
}

.lightbox-basic hr {
	width: 44px;
	height: 1px;
	margin-top: 0.125rem;
	margin-bottom: 1rem;
	margin-left: 0;
	background-color: #14bf98;
}

.lightbox-basic .testimonial-container {
	margin-top: 1.5rem;
	margin-bottom: 2.25rem;
	padding: 1.5rem;
	background-color: #fbfbfb;
}

/* Action Button */
.lightbox-basic .btn-solid-reg.mfp-close {
	position: relative;
	width: auto;
	height: auto;
	color: #ffffff;
	opacity: 1;
	font-family: "Open Sans";
	font-display: swap;
}

.lightbox-basic .btn-solid-reg.mfp-close:hover {
	color: #14bf98;
}
/* end of action Button */

/* Back Button */
.lightbox-basic .btn-outline-reg.mfp-close.as-button {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin-left: 0.375rem;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #484a46;
	background-color: transparent;
	color: #484a46;
	opacity: 1;
	font-family: "Open Sans";
	font-display: swap;
}

.lightbox-basic .btn-outline-reg.mfp-close.as-button:hover {
	background-color: #484a46;
	color: #ffffff;
}
/* end of back button */

/* Close X Button */
.lightbox-basic button.mfp-close.x-button {
	position: absolute;
	top: -2px;
	right: -2px;
	width: 44px;
	height: 44px;
	color: #555555;
}
/* end of close x button */


/****************/
/*     Team     */
/****************/
.basic-2 {
	padding-top: 7.75rem;
	padding-bottom: 4.25rem;
	text-align: center;
}

.basic-2 .p-heading {
	margin-bottom: 3.5rem;
}

.basic-2 .card {
	max-width: 300px;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	border: none;
	background-color: transparent;
}

/* Hover Animation */
.basic-2 .card-image {
	overflow: hidden;
	margin-bottom: 1.5rem;
	border-radius: 2px;
}

.basic-2 .card-image img {
	margin: 0;
	border-radius: 2px;
	transition: all 0.3s;
}

.basic-2 .card-image:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.basic-2 .card-body {
	padding: 0;
}

.basic-2 .card-title {
	margin-bottom: 0.125rem;
}

.basic-2 .fa-stack {
	width: 1.75rem;
	height: 1.75rem;
	margin-right: 0.125rem;
	margin-left: 0.125rem;
	line-height: 1.75rem;
}

.basic-2 .fa-stack .fa-stack-2x {
	font-size: 1.75rem;
}

.basic-2 .fa-stack .fa-stack-2x,
.basic-2 .fa-stack .fa-stack-1x {
	width: 1.75rem;
	height: 1.75rem;
}

.basic-2 .fa-circle {
	color: #14bf98;
	transition: all 0.2s ease;
}

.basic-2 .fab {
	color: #ffffff;
}

.basic-2 .fa-stack:hover .fa-circle {
	color: #ffffff;
}

.basic-2 .fa-stack:hover .fab {
	color: #14bf98;
}


/*****************/
/*     About     */
/*****************/
.counter {
	padding-top: 8.25rem;
	padding-bottom: 5.75rem;
}

/* Hover Animation */
.counter .image-container {
	overflow: hidden;
	margin-bottom: 3rem;
	border-radius: 4px;
}

.counter .image-container img {
	margin: 0;
	border-radius: 4px;
	transition: all 0.3s;
}

.counter .image-container:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.counter .section-title {
	margin-bottom: 0.5rem;
}

.counter h2 {
	margin-bottom: 1.375rem;
}

.counter .list-unstyled {
	margin-bottom: 3rem;
}

.counter .list-unstyled .fas {
	color: #14bf98;
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.counter .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.counter #counter {
	text-align: center;
}

.counter #counter .cell {
	display: inline-block;
	width: 9.5rem;
	margin-bottom: 2rem;
}

.counter #counter .counter-value {
	display: inline-block;
	margin-bottom: 0.125rem;
	color: #14bf98;
	font: 700 2.875rem/3.25rem "Montserrat", sans-serif;
	vertical-align: middle;
}

.counter #counter .counter-info {
	display: inline-block;
	margin-left: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	vertical-align: middle;
}


/*******************/
/*     Contact     */
/*******************/
.form-2 {
	padding-top: 8rem;
	padding-bottom: 7rem;
}

.form-2 .text-container {
	margin-bottom: 4rem;
}

.form-2 .section-title {
	margin-bottom: 0.5rem;
 }

.form-2 h2 {
	margin-bottom: 1.375rem;
}

.form-2 .list-unstyled {
	font-size: 1rem;
	line-height: 1.625rem;
}

.form-2 .list-unstyled .fas,
.form-2 .list-unstyled .fab {
	margin-right: 0.5rem;
	font-size: 0.875rem;
	color: #14bf98;
}

.form-2 .list-unstyled .fa-phone {
	vertical-align: 3%;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 5rem;
	padding-bottom: 1rem;
	background-color: #153e52;
}

.footer a {
	text-decoration: none;
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #d9eaf3;
}

.footer p,
.footer a,
.footer ul {
	color: #d9eaf3;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .fa-stack {
	width: 3.25rem;
	height: 3.25rem;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	background: url('../images/hexagon-green.svg') center center no-repeat;
	background-size: 52px 52px;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover {
	background: url('../images/hexagon-white.svg') center center no-repeat;
	background-size: 3.25rem 3.25rem;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
	color: #ffffff;
    font-size: 1.5rem;
	line-height: 3.25rem;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
	color: #14bf98;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #153e52;
	text-align: center;
}

.copyright p,
.copyright a {
	color: #d9eaf3;
	text-decoration: none;
}


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: #337494 url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #14bf98;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 4rem;
	background-color: #153e52;
}

.ex-header h1 {
	color: #ffffff;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #fbfbfb;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #14bf98;
}

.ex-cards-1 .card .fa-stack-1x {
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .media-body {
	margin-left: 0.75rem;
}

.ex-cards-1 .card .list-unstyled .media-body h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.375rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 13rem;
		padding-bottom: 12rem;
	}
	/* end of header */


	/* Services */
	.cards-2 .card-body {
		padding-right: 2.25rem;
		padding-left: 2.25rem;
	}
	/* end of services */


	/* Details 1 */
	.accordion .accordion-container {
		max-width: 70%;
	}
	/* end of details 1 */


	/* Details 2 */
	.tabs .tabs-container {
		max-width: 70%;
	}

	.tabs #tab-2 .list-unstyled {
		display: inline-block;
		width: 45%;
		margin-top: 0;
	}
	
	.tabs #tab-2 .list-unstyled.first {
		margin-right: 2rem;
	}
	/* end of details 2 */


	/* Projects */
	.filter .element-item { 
		width: 25%; 
	}
	
	.filter .element-item .element-item-overlay { 
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.filter .element-item:hover .element-item-overlay {
		opacity: 1;
	}
	/* end of projects */


	/* About */
	.counter #counter {
		text-align: left;
	}
	/* end of about */


	/* Contact */
	.form-2 .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}

	.form-2 .list-unstyled .address {
		display: block;
	}
	/* end of contact */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h1-large {
		font-size: 3.5rem;
		line-height: 4rem;
	}

	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 40rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		border-bottom: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #153e52;
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}
	
	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		padding-top: 16rem;
		padding-bottom: 16rem;
	}
	/* end of header */


	/* Intro */
	.basic-1 {
		padding-top: 8.25rem;
	}

	.basic-1 .text-container {
		margin-bottom: 0;
	}
	/* end of intro */


	/* Description */
	.cards-1 .card {
		display: inline-block;
		width: 290px;
		vertical-align: top;
	}
	
	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	/* end of description */


	/* Services */
	.cards-2 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}
	
	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of services */


	/* Details 1 */
	.accordion {
		height: 620px;
	}
	
	.accordion .area-1 {
		width: 50%;
		height: 100%;
		display: inline-block;
	}
	
	.accordion .area-2 {
		width: 50%;
		height: 100%;
		display: inline-block;
		vertical-align: top;
	}
	
	.accordion .accordion-container {
		max-width: 88%;
		margin-left: 2rem;
		padding-bottom: 0;
	}

	.accordion .accordion-title {
		width: 85%;
	}
	/* end of details 1 */


	/* Details 2 */
	.tabs {
		height: 640px;
	}

	.tabs .area-1 {
		width: 50%;
		height: 100%;
		display: inline-block;
		vertical-align: top;
	}

	.tabs .area-2 {
		width: 50%;
		height: 100%;
		display: inline-block;
	}

	.tabs .tabs-container {
		max-width: 88%;
		margin-left: 2rem;
		padding-top: 8.25rem;
		padding-bottom: 0;
	}

	.tabs .nav-tabs {
		justify-content: flex-start;
	}
	/* end of details 2 */


	/* Testimonials */
	.slider-1 .swiper-container {
		width: 94%;
	}

	.slider-1 .swiper-button-prev {
		left: -20px;
	}
	
	.slider-1 .swiper-button-next {
		right: -20px;
	}
	/* end of testimonials */


	/* Registration */
	.form-1 .text-container {
		margin-bottom: 0;
	}
	/* end of registration */


	/* Project Lightboxes */
	.lightbox-basic {
		padding-right: 3rem;
		padding-left: 3rem;
	}

	.lightbox-basic .image-container {
		margin-right: 1.5rem;
		margin-bottom: 0;
	}
	/* end of project lightboxes */


	/* Team */
	.basic-2 .card {
		display: inline-block;
		width: 222px;
		max-width: 100%;
		vertical-align: top;
	}
	
	.basic-2 .card:nth-of-type(4n+2) {
		margin-right: 0.25rem;
		margin-left: 0.5rem;
	}

	.basic-2 .card:nth-of-type(4n+3) {
		margin-right: 0.5rem;
		margin-left: 0.25rem;
	}
	/* end of team */


	/* About */
	.counter .image-container {
		margin-bottom: 0;
	}

	.counter .list-unstyled {
		margin-bottom: 2rem;
	}
	/* end of about */


	/* Contact */
	.form-2 .text-container {
		margin-top: 3rem;
	}

	.form-2 .form-control-textarea {
		height: 9rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	}
	/* end of contact */


	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 0.375rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 246px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* Header */
	.header {
		padding-top: 20rem;
		padding-bottom: 22rem;
	}
	/* end of header */


	/* Intro */
	.basic-1 .text-container {
		margin-right: 2.5rem;
	}

	.basic-1 .image-container {
		margin-left: 1rem;
	}
	/* end of intro */


	/* Description */
	.cards-1 .card {
		width: 300px;
	}
	
	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 6.25rem;
		margin-left: 6.25rem;
	}
	/* end of description */


	/* Services */
	.cards-2 .card {
		width: 340px;
	}
	
	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 2.5rem;
		margin-left: 2.5rem;
	}
	/* end of services */


	/* Details 1 */
	.accordion .accordion-container {
		max-width: 448px;
		margin-left: 5rem;
	}
	/* end of details 1 */


	/* Details 2 */
	.tabs .tabs-container {
		max-width: 448px;
		margin-right: 5rem;
		margin-left: auto;
	}

	.tabs #tab-2 .media-wrapper.first {
		margin-right: 2rem;
	}
	/* end of details 2 */


	/* Testimonials */
	.slider-1 .swiper-container {
		width: 96%;
	}

	.slider-1 .swiper-button-prev {
		left: -26px;
	}
	
	.slider-1 .swiper-button-next {
		right: -26px;
	}
	/* end of testimonials */


	/* Registration */
	.form-1 .text-container {
		margin-top: 1.5rem;
		margin-right: 2rem;
	}

	.form-1 form {
		margin-left: 2rem;
	}
	/* end of registration */


	/* Projects */
	.filter .element-item {
		width: 277px; /* to eliminate grid overflow problem on hard refresh */
		height: 270px;
	}

	.filter .element-item .element-item-overlay span { 
		top: 45%;
	}
	/* end of projects */


	/* Team */
	.basic-2 .card {
		width: 250px;
	}

	.basic-2 .card:nth-of-type(4n+2) {
		margin-right: 1rem;
		margin-left: 2rem;
	}

	.basic-2 .card:nth-of-type(4n+3) {
		margin-right: 2rem;
		margin-left: 1rem;
	}
	/* end of team */


	/* About */
	.counter {
		padding-bottom: 7.25rem;
	}

	.counter .image-container {
		margin-right: 1.75rem;
	}

	.counter .text-container {
		margin-top: 0.375rem;
		margin-left: 1.75rem;
	}
	/* end of about */


	/* Contact */
	.form-2 .text-container {
		margin-top: 3.5rem;
		margin-right: 1.75rem;
	}

	.form-2 form {
		margin-left: 1.75rem;
	}
	/* end of contact */

}
/* end of min-width 1200px */